:root {
  --base-s: 52%;
  --base-l: 51%;

  --l-step: 5;

  /** Primitives **/
  --green-1: hsl(from var(--green-5) h s calc(l - var(--l-step) * 4));
  --green-2: hsl(from var(--green-5) h s calc(l - var(--l-step) * 3));
  --green-3: hsl(from var(--green-5) h s calc(l - var(--l-step) * 2));
  --green-4: hsl(from var(--green-5) h s calc(l - var(--l-step)));
  --green-5: hsl(120, var(--base-s), var(--base-l));
  --green-6: hsl(from var(--green-5) h s calc(l + var(--l-step)));
  --green-7: hsl(from var(--green-5) h s calc(l + var(--l-step) * 2));
  --green-8: hsl(from var(--green-5) h s calc(l + var(--l-step) * 3));
  --green-9: hsl(from var(--green-5) h s calc(l + var(--l-step) * 4));

  --red-1: hsl(from var(--red-5) h s calc(l - var(--l-step) * 4));
  --red-2: hsl(from var(--red-5) h s calc(l - var(--l-step) * 3));
  --red-3: hsl(from var(--red-5) h s calc(l - var(--l-step) * 2));
  --red-4: hsl(from var(--red-5) h s calc(l - var(--l-step)));
  --red-5: #ff6d6d;
  --red-5: hsl(0, var(--base-s), var(--base-l));
  --red-6: hsl(from var(--red-5) h s calc(l + var(--l-step)));
  --red-7: hsl(from var(--red-5) h s calc(l + var(--l-step) * 2));
  --red-8: hsl(from var(--red-5) h s calc(l + var(--l-step) * 3));
  --red-9: hsl(from var(--red-5) h s calc(l + var(--l-step) * 4));

  /** Border **/
  --border-sm: 1px;
  --border-md: 2px;
  --border-lg: 4px;

  /** Colors **/
  --color--accent-bg: var(--red-5);
  --color--accent-bg-secondary: var(--red-4);
  --color--accent-fg: contrast-color(var(--color--accent-bg));

  --color--content-bg-primary: light-dark(#fff, #000);
  --color--content-bg-secondary: hsl(
    from var(--color--content-bg-primary) h s calc(l - 10)
  );
  --color--content-bg-tertiary: hsl(
    from var(--color--content-bg-primary) h s calc(l - 20)
  );
  --color--content-fg: contrast-color(var(--color--content-bg-primary));

  /** Content width **/
  --content-width--md: max(680px, 40dvi);

  /** Icon size **/
  --icon-size-sm: 0.75rem;
  --icon-size-md: 1rem;
  --icon-size-lg: 1.25rem;

  /** Popup **/
  --popup--bg: var(--color--accent-bg);
  --popup--fg: var(--color--accent-fg);

  --popup--backdrop-bg: hsla(0 0 0 / 0.1);
  --popup--backdrop-filter: blur(1dvi) saturate(0%);

  --popup-shadow--offset: 8px;
  --popup-shadow--size: 16px;
  --popup-shadow--opacity: 0.05;

  --popup--shadow:
    0 var(--popup-shadow--offset) var(--popup-shadow--size)
      hsl(0 0 0 / var(--popup-shadow--opacity)),
    0 calc(var(--popup-shadow--offset) * 3) calc(var(--popup-shadow--size) * 3)
      hsl(0 0 0 / calc(var(--popup-shadow--opacity) * 3));

  /** Spacing **/
  --spacing-xs: 3px;
  --spacing-sm: 6px;
  --spacing-md: 12px;
  --spacing-lg: 18px;
  --spacing-xl: 24px;

  /** Typography **/
  --text--font-family: "Quicksand", Arial, sans-serif;
  --text--font-family-monospace: "Roboto-Mono", "Roboto Mono", monospace;
  --text--line-height: 1.4;

  --text--weight-light: 400;
  --text--weight-normal: 500;
  --text--weight-semibold: 600;
  --text--weight-bold: 700;

  --text--heading-large-size: 26px;
  --text--heading-medium-size: 22px;
  --text--heading-small-size: 18px;

  --text--body-large-size: 16px;
  --text--body-medium-size: 14px;
  --text--body-small-size: 12px;

  --text--heading-large: normal var(--text--weight-bold)
    var(--text--heading-large-size)/var(--text--line-height)
    var(--text--font-family);
  --text--heading-medium: normal var(--text--weight-bold)
    var(--text--heading-medium-size)/var(--text--line-height)
    var(--text--font-family);
  --text--heading-small: normal var(--text--weight-bold)
    var(--text--heading-small-size)/var(--text--line-height)
    var(--text--font-family);

  --text--body-large: normal var(--text--weight-normal)
    var(--text--body-large-size)/var(--text--line-height)
    var(--text--font-family);
  --text--body-medium: normal var(--text--weight-normal)
    var(--text--body-medium-size)/var(--text--line-height)
    var(--text--font-family);
  --text--body-small: normal var(--text--weight-normal)
    var(--text--body-small-size)/var(--text--line-height)
    var(--text--font-family);

  /** Other **/
  --anim-time: 100ms;
  --disabled-opacity: 0.5;

  @media (prefers-reduced-motion) {
    --anim-time: 0ms;
  }
}

@keyframes popup-dropdown {
  from {
    transform: translateY(calc(var(--spacing-md) * -1));
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

page-button {
  align-items: center;
  background: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
  display: flex;
  font: var(--text--body-medium);
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: var(--anim-time);

  &:where(:hover) {
    background: var(--button-bg-hover);
  }

  &:where(:active) {
    background: var(--button-bg-active);
  }

  &:where([data-disabled]) {
    opacity: var(--disabled-opacity);
    pointer-events: none;
  }

  &:where([data-variant="combobox"]) {
    justify-content: space-between;

    &::after {
      background: currentColor;
      content: "";
      height: var(--icon-size-md);
      mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m%202.292969%206.707031%20l%205%205%20c%200.390625%200.390625%201.023437%200.390625%201.414062%200%20l%205%20-5%20c%200.390625%20-0.390625%200.390625%20-1.023437%200%20-1.414062%20s%20-1.023437%20-0.390625%20-1.414062%200%20l%20-4.292969%204.292969%20l%20-4.292969%20-4.292969%20c%20-0.390625%20-0.390625%20-1.023437%20-0.390625%20-1.414062%200%20s%20-0.390625%201.023437%200%201.414062%20z%20m%200%200%22%2F%3E%3C%2Fsvg%3E");
      width: var(--icon-size-md);
    }
  }

  &:where([data-variant="icon"]) {
    background: transparent;
    padding-inline: var(--spacing-sm);
  }

  &:where([data-where="accent"]) {
    --button-bg: var(--color--content-bg-primary);
    --button-bg-active: var(--color--content-bg-tertiary);
    --button-bg-hover: var(--color--content-bg-secondary);
    --button-fg: var(--color--content-fg);
  }

  &:where([data-where="content"]) {
    --button-bg: var(--red-5);
    --button-bg-active: var(--red-3);
    --button-bg-hover: var(--red-4);
    --button-fg: var(--color--accent-fg);
  }

  &:where([data-state="danger"]) {
    --button-bg: var(--red-5);
    --button-bg-active: var(--red-3);
    --button-bg-hover: var(--red-4);
    --button-fg: var(--color--accent-fg);
  }

  &:where([data-state="success"]) {
    --button-bg: var(--green-5);
    --button-bg-active: var(--green-3);
    --button-bg-hover: var(--green-4);
    --button-fg: var(--color--accent-fg);
  }
}

page-dialog {
  animation: popup-dropdown var(--anim-time) cubic-bezier(0.2, 0.9, 0.6, 1);
  box-shadow: var(--popup--shadow);
  display: flex;
  flex-direction: column;

  &:where([data-size="md"]) {
    max-block-size: 40dvb;
    max-inline-size: 40dvi;
  }
}

page-dialog-backdrop {
  backdrop-filter: var(--popup--backdrop-filter);
  background: var(--popup--backdrop-bg);
  content: "";
  inset: 0;
  position: fixed;
  z-index: 0;
}

page-dialog-body {
  background: var(--color--content-bg-primary);
  color: var(--color--content-fg);
  flex-grow: 1;
  padding: var(--spacing-xl);
}

page-dialog-footer {
  background: var(--popup--bg);
  color: var(--popup--fg);
  display: flex;
  gap: var(--spacing-md);
  justify-content: end;
  padding: var(--spacing-lg) var(--spacing-xl);
}

page-dialog-header {
  align-items: center;
  background: var(--popup--bg);
  color: var(--popup--fg);
  display: flex;
  font: var(--text--heading-medium);
  padding: var(--spacing-lg) var(--spacing-xl);
  justify-content: space-between;
}

page-menu {
  --menu--bg: var(--color--accent-bg);
  --menu--fg: var(--color--accent-fg);
  --menu--border-color-start: white;
  --menu--border-color-end: black;
  --menu--border-size: var(--border-md);
  --menu--icon-gap: var(--spacing-sm);
  --menu--icon-size: var(--icon-size-md);

  --menuitem--spacing: 8px;

  animation: popup-dropdown var(--anim-time) cubic-bezier(0.2, 0.9, 0.6, 1);
  background: var(--menu--bg);
  color: var(--menu--fg);

  &::before,
  &::after {
    content: "";
    display: block;
    height: calc(var(--menu--border-size) * 2);
  }

  &::before {
    background-image: linear-gradient(
      color-mix(
          in hsl,
          var(--color--accent-bg) 50%,
          var(--menu--border-color-start)
        )
        var(--menu--border-size),
      color-mix(
          in hsl,
          var(--color--accent-bg) 75%,
          var(--menu--border-color-start)
        )
        var(--menu--border-size)
    );
  }

  &::after {
    background-image: linear-gradient(
      color-mix(
          in hsl,
          var(--color--accent-bg) 87.5%,
          var(--menu--border-color-end)
        )
        var(--menu--border-size),
      color-mix(
          in hsl,
          var(--color--accent-bg) 75%,
          var(--menu--border-color-end)
        )
        var(--menu--border-size)
    );
  }
}

page-menu-heading {
  color: var(--menu--fg);
  font-weight: var(--text--weight-bold);
  padding: calc(var(--menuitem--spacing) / 2) var(--menuitem--spacing);
  margin-inline-start: calc(var(--menu--icon-size) + var(--menu--icon-gap));
}

page-menu-item {
  color: var(--color--accent-fg);
  padding: calc(var(--menuitem--spacing) / 2) var(--menuitem--spacing);
  margin: 0;

  &:where(:hover) {
    background: var(--red-4);
    color: var(--color--accent-fg);
  }

  &:where(:active) {
    background: var(--red-3);
    color: var(--color--accent-fg);
  }

  &:where([data-disabled]) {
    color: var(--disabled-opacity);
    pointer-events: none;
  }

  &::before {
    background-color: currentColor;
    content: "";
    display: inline-block;
    height: var(--menu--icon-size);
    margin-inline-end: var(--menu--icon-gap);
    vertical-align: center;
    width: var(--menu--icon-size);
  }
}

page-menu-separator {
  background: currentColor;
  height: var(--menu--border-size);
  margin: calc(var(--menuitem--spacing) / 2) var(--menuitem--spacing);
}

.prc-TreeView-TreeViewItem-Ter5f[aria-current="true"]
  > .prc-TreeView-TreeViewItemContainer-z6qqQ {
  --sidebar-item-selected-border-offset: 2.5%;
  --sidebar-item-selected-border-size: 2px;
  --sidebar-item-selected-elevation-1: color-mix(
    in srgb,
    var(--color--accent-fg) 75%,
    var(--color--accent-bg)
  );

  background: var(--color--accent-fg);
  color: var(--color--accent-bg);
  position: relative;

  &::before,
  &::after {
    border-block-start: var(--sidebar-item-selected-border-size) solid
      var(--color--accent-bg-selected);
    content: "";
    position: absolute;
  }

  &::before {
    border-color: var(--sidebar-item-selected-elevation-1);
    inset-block-end: calc(var(--sidebar-item-selected-border-size) * -1);
    inset-inline-start: var(--sidebar-item-selected-border-offset);
    width: calc(100% - var(--sidebar-item-selected-border-offset) * 2);
  }

  &::after {
    border-color: var(--sidebar-item-selected-elevation-1);
    inset-block-end: calc(var(--sidebar-item-selected-border-size) * -2);
    inset-inline-start: calc(var(--sidebar-item-selected-border-offset) * 2);
    width: calc(100% - var(--sidebar-item-selected-border-offset) * 4);
  }
}
