#dialog-backdrop--steam {
	padding: 0;

	& > page-dialog {
		block-size: 100%;
		flex-direction: row;
		inline-size: 100%;
		max-inline-size: 100%;
		padding: 0;

		&::before,
		&::after {
			display: none;
		}

		:where(& *) {
			display: flex;
		}

		@media (prefers-color-scheme: dark) {
			--dark: flex;
			--light: none;
		}

		@media (prefers-color-scheme: light) {
			--dark: none;
			--light: flex;
		}

		.dark {
			display: var(--dark);
		}

		.light {
			display: var(--light);
		}
	}
}

steam-appdetails {
	block-size: 100%;
	flex-direction: column;
	padding: var(--space-4);
}

steam-appdetails-logo {
	inset: 0;
	position: absolute;

	& > img {
		margin: var(--space-4) auto;
	}
}

steam-appdetails-hero {
	inline-size: 100%;

	& > img {
		inline-size: 100%;
	}
}

steam-appdetails-hero-container {
	block-size: 360px;
	inline-size: 100%;
	position: relative;
}

steam-content {
	background: var(--color--content-bg-primary);
	color: var(--color--content-fg);
	flex-direction: column;
	flex-grow: 1;
}

.writereview_LeftContainer {
	flex-direction: column;

	.writereview_Playtime {
		font-weight: var(--text--weight-bold);
	}

	.writereview_RecommendGame {
		font-weight: var(--text--weight-light);
	}
}

.writereview_RatingContainer {
	--bg: var(--green-8);

	justify-content: space-between;
}

.writereview_RightContainer {
	block-size: fit-content;
	gap: var(--space-1);
	margin: auto var(--space-1);
}

steam-rootmenu {
	background: var(--color--accent-bg-secondary);
	color: var(--color--accent-fg);
	flex-direction: column;
}

steam-sidebar-container {
	background: var(--color--accent-bg);
	color: var(--color--accent-fg);
	flex-direction: column;
	inline-size: 320px;
}

steam-sidebar-game-list {
	display: contents;

	page-list {
		overflow: auto;
	}

	page-list-item {
		gap: var(--space-1);

		& > div {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		& > img {
			block-size: var(--icon-size-md);
			inline-size: var(--icon-size-md);
		}
	}
}

steam-sidebar-top {
	padding: var(--space-2);

	page-button[data-variant="combobox"] {
		flex-grow: 1;
		margin-inline-end: var(--space-2);
	}
}

steam-store-discount {
	--bg: light-dark(var(--blue-5), var(--blue-1));

	background: var(--bg);
	color: contrast-color(var(--bg));
	display: flex;
	margin: var(--space-1);
}

steam-store-discount-new-price {
	font-weight: var(--text--weight-semibold);
	line-height: 1;
}

steam-store-discount-original-price {
	font: var(--text--body-sm);
	line-height: 1;
	text-decoration: line-through;
	text-decoration-thickness: var(--border-md);
}

steam-store-discount-pct {
	--bg: light-dark(var(--green-9), var(--green-3));

	background: var(--bg);
	border-block: var(--shadow-border-size) solid;
	border-block-start-color: hsl(
		from var(--bg) h s calc(l + var(--shadow-l-diff))
	);
	border-block-end-color: hsl(
		from var(--bg) h s calc(l - var(--shadow-l-diff))
	);
	color: contrast-color(var(--bg));
	padding: var(--space-1);
}

steam-store-discount-prices {
	border-block: var(--shadow-border-size) solid;
	border-block-start-color: hsl(
		from var(--bg) h s calc(l + var(--shadow-l-diff))
	);
	border-block-end-color: hsl(
		from var(--bg) h s calc(l - var(--shadow-l-diff))
	);
	display: flex;
	flex-direction: column;
	padding: var(--space-05) var(--space-1);
}
