:where(*) {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    90deg,
    var(--color--accent-bg) 50%,
    var(--color--content-bg-primary) 50%
  );
  color: var(--color--content-fg);
  display: flex;
  font: var(--text--body-medium);
  margin: 0;

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  h1 {
    font: var(--text--heading-large);
  }

  h2 {
    font: var(--text--heading-medium);
  }

  h3 {
    font: var(--text--heading-small);
  }

  label {
    align-items: center;
    color: var(--color--accent-fg);
    display: flex;
    justify-content: space-between;
  }

  p {
    margin-block-end: var(--spacing-x2);
  }

  page-menu {
    display: flex;
    flex-direction: column;
  }
}

:where([data-bg-clip]) {
  background: linear-gradient(
    90deg,
    var(--color--accent-fg) 50%,
    var(--color--content-fg) 50%
  );
  background-clip: text;
  color: transparent;
}

:where([data-two-columns-section], page-section-grid) {
  display: grid;
  gap: var(--spacing-x4);
  grid-template-columns: repeat(2, 1fr);
}

page-content {
  margin: auto;
  padding-inline: var(--spacing-x4);
  width: max(680px, 40dvi);
}

page-info {
  background: var(--color--accent-bg);
  color: var(--color--accent-fg);
}

page-section {
  display: flex;
  flex-direction: column;
  margin-block: var(--spacing-x4);

  &:not(:first-child) {
    border-block-start: 1px solid;
    border-image: linear-gradient(
      90deg,
      var(--color--accent-fg) 50%,
      var(--color--content-fg) 50%
    );
    border-image-slice: 1;
    padding-block-start: var(--spacing-x4);
  }
}

absent-item {
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    color: var(--color--content-fg);
  }

  &:nth-child(odd) {
    color: var(--color--accent-fg);
  }
}

absent-item-content {
  display: grid;
  height: 100%;
  place-items: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    background-color: currentColor;
    font: var(--text--heading-small);
    height: 2px;
    inset: 25% 10%;
    inset-block-start: 50%;
    pointer-events: none;
    position: absolute;
    transform: rotate(var(--deg));
  }

  &::before {
    --deg: 135deg;
  }

  &::after {
    --deg: 45deg;
  }
}

color-gradient {
  display: flex;
  flex-wrap: wrap;
  margin-block-end: var(--spacing-x2);
}

color-gradient-container {
  background: var(--bg);
  box-shadow:
    0 -2px color-mix(in srgb, var(--bg) 90%, white),
    0 2px color-mix(in srgb, var(--bg) 90%, black);
  color: contrast-color(var(--bg));
  display: flex;
  flex-direction: column;
  padding: var(--spacing-x1);
  padding-block-start: var(--spacing-x4);
  /* Trick for watching style changes */
  transition: background-color 0.001ms step-start;
  width: calc(100% / 9);
}

color-gradient-controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x1);
}

color-gradient-value {
  font: var(--text--body-small);
  font-weight: var(--text--weight-light);
}

color-gradient-var {
  font: var(--text--body-small);
}

spacing-unit {
  display: grid;
  font-family: var(--text--font-family-monospace);
  gap: var(--spacing-x2);
  grid-template-columns: repeat(2, 1fr);

  &:where([data-unit="05"]) {
    --width: var(--spacing-x05);
  }

  &:where([data-unit="1"]) {
    --width: var(--spacing-x1);
  }

  &:where([data-unit="2"]) {
    --width: var(--spacing-x2);
  }

  &:where([data-unit="3"]) {
    --width: var(--spacing-x3);
  }

  &:where([data-unit="4"]) {
    --width: var(--spacing-x4);
  }

  &::before {
    color: var(--color--accent-fg);
    content: "--spacing-x" attr(data-unit);
  }

  &::after {
    background: linear-gradient(
      90deg,
      var(--color--content-fg) var(--width),
      #0f0 var(--width)
    );
    content: "";
    height: 1lh;
    width: 100%;
  }
}

typography-info {
  align-items: center;
  margin-block: var(--spacing-x05);
}

typography-info-container {
  color: var(--color--accent-fg);
  display: flex;
  flex-direction: column;
}

typography-info-title {
  font: var(--text--heading-small);
}
